/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 50px;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 5px;
    padding-top: 25px;
}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    padding: 20px;
}

/* Styles specific to the layout */
.container {
    display: flex;
    justify-content: space-between;
}

.header {
    display: flex;
    align-items: center;
}

.header a {
    margin-right: 20px;
    text-decoration: none;
    color: #333;
}

.search-container {
    position: relative;
    width: 300px; 
}

search-form {
    position: relative; 
}

.search-container {
    position: relative;
    width: 300px; 
}

.search-icon {
    position: absolute;
    top: 60%;
    left: 25px;
    transform: translateY(-50%);
    width: 25px; 
    height: 25px; 
}

.search-input {
    width: calc(100% - 40px); 
    padding: 10px;
    padding-left: 40px; 
    border: 2px solid #ccc; 
    border-radius: 25px; 
    box-sizing: border-box;
}

.search-form input[type="submit"] {
    padding: 10px 20px;
    font-size: 20px;
    background-color: blue; 
    border: none;
    color: white;
    cursor: pointer;
    
}


.content {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
}

.main-heading {
    text-align: right;
    font-size: 24px;
    margin-bottom: 30px;
}

.sidebar {
    width: 300px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

.sidebar h2 {
    margin-top: 5px;
}


