{% extends "encyclopedia/layout.html" %}

{% block title %}
Create New Entry
{% endblock %}

{% block body %}
<style>
    .form-container {
        margin-top: 50px; 
    }
    .form-container label {
        margin-bottom: 50px; 
    }
    .form-container textarea {
        margin-bottom: 50px; 
    }
</style>

<h1>Create New Entry</h1>
<div class="form-container">
    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        <label for="title">Title:</label><br>
        <input type="text" name="title" id="title" required><br>
        
        <label for="content">Content:</label><br>
        <textarea name="content" id="content" rows="10" required></textarea><br>
        
        <input type="submit" value="Save">
    </form>
</div>

{% if message %}
<p>{{ message }}</p>
{% endif %}
{% endblock %}


